node_modules/
test/
.idea/
.turbo/
build/
dev/
**/*.d.ts
**/*.d.ts.map
**/*.js
**/*.js.map
**/*.tsbuildinfo
**/*.html

!**/types.d.ts
!**/*.config.*

**/web-types.json
**/vscode.css-custom-data.json
**/vscode.html-custom-data.json
**/custom-elements.json

packages/f7-icon/includes.json