git-checks=false
link-workspace-packages=true
prefer-workspace-packages=true
strict-peer-dependencies=false
ignore-workspace-root-check=true
//packages.aliyun.com/64d9fc4ceceb191898f638e6/npm/x/:_authToken=5d4871f8-0409-42fd-92b4-71c9691d3b55
registry=https://packages.aliyun.com/64d9fc4ceceb191898f638e6/npm/x/
